NEXT_PUBLIC_APP_URL=http://localhost:3000

AUTH_SECRET=
AUTH_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

NOTION_TOKEN=
NOTION_USERS_DB_ID=
NOTION_MEALS_DB_ID=
NOTION_TARGETS_DB_ID=
NOTION_SETTINGS_DB_ID=

DEFAULT_AI_PROVIDER=Groq
DEFAULT_AI_API_KEY=
NEXT_PUBLIC_DEFAULT_AI_SNAPSHOT_LIMIT=5

GEMINI_DEFAULT_MODEL=gemini-2.5-flash
GROQ_DEFAULT_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
OPENROUTER_DEFAULT_MODEL=openrouter/free
HUGGINGFACE_DEFAULT_MODEL=meta-llama/Llama-3.2-90B-Vision-Instruct
MISTRAL_DEFAULT_MODEL=pixtral-12b-2409
